<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--<add name="velvetech" connectionString="data source=46.229.223.99;initial catalog=rk123;user id=DbAdmin;password=FtE900NDk;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="velvetech" connectionString="Server=LAPTOP-R30J70AQ\SQLEXPRESS;Database=velvetech;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>